@font-face {
  font-family: 'Digital Display';
  src: url('fonts/Digital Display.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  font-family: 'Digital Display', Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  margin: 250px auto 0;
  font-size: 4rem;
}

.clock-container {
  font-size: 8rem;
  text-align: center;
  margin: 100px auto 0;
  color: #fff;
  border: 5px groove #fff;
  width: 500px;
  padding: 20px;

}

.clock-container span {
  color: red;
  width: 100%;
}